/* Input  */
.filterForm {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.inputContainer {
  border-bottom: 2px solid rgba(225, 176, 1, 0.61);
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 500px;
}

.filterForm label {
  color: var(--color-1);
  font-size: 1.5rem;
}

.filterForm input {
  background-color: #351111;
  color: var(--color-1);
  width: 100%;
  font-size: 1.5rem;
  outline: none;
  padding: 5px 15px;
  border-radius: 30px;
}

/* Ships  */
.shipContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 0 20px 0;
  gap: 30px;
}

.shipContainer a {
  border-radius: 50px;
  text-decoration: none;
}

.shipCard {
  width: 320px;
  height: 400px;
  font-size: 1.3rem;
  color: var(--color-1);
  background-color: var(--color-2);
  border-radius: 50px;
  text-align: left;
  padding: 30px 30px;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 1;
}

.shipCard:hover {
  scale: 1.05;
  box-shadow: 10px 10px 19px 1px rgba(225, 176, 1, 0.61);
}

.shipCard:active {
  scale: 1.1;
}

.shipImg {
  text-align: center;
}

.shipImg img {
  width: 100%;
}

.shipName {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
  padding: 10px 0;
}

.shipInfo {
  font-size: 1.2rem;
}

.shipInfo span {
  font-weight: 700;
}

/* Loading  */

.loading {
  height: 60px;
}

.loading img {
  height: 60px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Buttons */
.pageBtns {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
}

.pageBtn {
  width: 120px;
  height: 55px;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 30px;
  transition: all 0.2s;
  border: none;
  color: var(--color-1);
  background-color: var(--color-2);
  cursor: pointer;
}

.pageBtn:hover {
  scale: 1.05;
  box-shadow: 0px 3px 5px 1px rgba(225, 176, 1, 0.6);
}

.pageBtn:active {
  scale: 1.1;
}

@media (max-width: 576px) {
  .inputContainer {
    width: 90%;
  }
}
